@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_adminlayout.cshtml";
}

<h2>Пользователи сайта</h2>

<table>
  <tr>
        
        <td></td>
        <td>
            Имя пользователя
        </td>

      
        <td>
            E-mail
        </td>

      
     
    </tr>


    
    </table>
