@{
    ViewBag.Title = "LifeBlog: О сайте";
    if (HttpContext.Current.User.IsInRole("Admin"))
    {
        Layout = "~/Views/Shared/_adminlayout.cshtml";
    }

    else
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
}


<h1 style="top:0;">
    Здравствуйте!

</h1>
<p>
      На этой страничке я хочу немного разсказать о данном сайте и о том с какой целью он был написан. Это мой первый полноценный проект.
    На момент окончания учебы по разработке ПО каких-то особых или новых идей у меня не было и я решил, что стоит написать какой-нибудь небольшой сайт, который просто
    будет нормально работать и содержать немного контента.

</p>
<p>
      Сразу же подвернулась идея на счет содержимого. Суть заключалась в том, что бы разместить информацию
    о своих навыках и умениях в сфере Web-разрабоки. В будущем так же я запланировал размещать на нем примеры своих проектов, которые буду выполнять. В итоге я решил
    что мне нужен обычный блог разработчика, который в дальнейшем будет мне служить с одной стороны записной книжкой а с другой сайтом-визиткой для
    того, что бы Вы могли оценить мой (пока что небольшой) уровень професионализма в Web-разработке.
</p>
      Что же касается технологий и инструментов для разработки я решил что надо попробовать что-нибудь новое, взять какую-нибудь технологию, которую я еще не знал и попробовать
    изучить её. Основным языком, который я предпочитаю является C#, платформа Microsoft.Net и технология ASP.Net 4.5. Исходя из того, что небольшой опыт с WebForms у меня
    имеется  - я решил изучить ASP.Net MVC 4.0. Получилось неплохо. MVC очень хороший и гибкий инструмент, которых можно эффективно использовать. Что же касается дизайна и
    фунцкиональности сайта - в этом направлении я использовал библитеки jQuery UI и Twitter Bootstrap. Думаю дизайн получился не идеальный, но в будущем я исправлю это обязательно
     и надеюсь постигну творческие умения хотя бы немного. 
<p>
      Жду Ваших отзывов в разделе "Обратная связь". Буду благодарен за любые мнения. Критика мне только добавит опыта и научит
    делать правильно а от положительных мнений никто никогда не отказывался, так что буду рад любой Вашей оценке. Спасибо!

    
     
</p>
